<div id="rides"></div>

<form id="frm-upload" method="post" enctype="multipart/form-data">
    @Html.Partial("_UploadInputs")
</form>

<button id="btn-upload" type="button" class="" role="button">Upload</button>
<progress style="visibility:hidden"></progress>

<script>
    function refreshRides() {
        $.ajax({
            url: "/Home/_AllRides",
            success: function (html) {
                $('#rides').html(html);
            }
        });
    }

    function loadAnalysis(guid) {
        $.ajax({
            url: "/Home/_GetAnalysis/" + guid,
             success: function (html) {
                 $('#analysis').html(html);
             }
         });
    }

    

    refreshRides();
</script>