<label for="File">File</label>
<input type="file" name="Input.File" />

<label for="WindSpeedMph">Wind speed</label>
<input type="number" name="Input.WindSpeedMph" placeholder="Wind speed in mph"/>

<label for="WindBearingDegrees">Wind bearing</label>
<input type="number" name="Input.WindBearingDegrees" placeholder="Wind bearing in degrees"/>

<label for="MassKilograms">Weight</label>
<input type="number" name="Input.Mass" placeholder="Weight in kg"/>
