<table>
    <tr>
        <td>
            File:
        </td>
        <td>
            <input type="file" name="Input.File" />
        </td>
    </tr>
    <tr>
        <td>
            Wind speed (mph):
        </td>
        <td>
            <input type="number" name="Input.WindSpeedMph" value="10"/>
        </td>
    </tr>
    <tr>
        <td>
            Wind bearing (degrees):
        </td>
        <td>
            <input type="number" name="Input.WindBearingDegrees" value="0"/>
        </td>
    </tr>
    <tr>
        <td>
            Mass (kg):
        </td>
        <td>
            <input type="number" name="Input.Mass" value="80"/>
        </td>
    </tr>
</table>
               
                
  
<script>
    
</script>
