@model Tim.Twime.Models.RideAnalysis

<div id="chartdiv" style="height:400px;width:300px; "></div>

<script type="text/javascript">
    require(["charts/jquery.jqplot"], function (module) {

        $.jqplot('chartdiv', [[[1, 2], [3, 5.12], [5, 13.1], [7, 33.6], [9, 85.9], [11, 219.9]]]);
    });

</script>

