@{
    ViewBag.Title = "Analysis";
}

<script>
    require(["knockout", "tim.ko.extensions", "ViewModels/AnalysesViewModel", "jquery", "domReady!"],
        function (ko, koex, AnalysesViewModel, jQuery) {
       
            jQuery.getJSON("/Home/AllRides", function (rides) {
                var viewModel = new AnalysesViewModel(rides);
                ko.applyBindings(viewModel);
            });
        });
</script>

<div class="content">
    <div class="pure-g" data-bind="if: Analysis">
        <div class="pure-u-1-2">
            <canvas data-bind="windWidget: Analysis().Wind"></canvas>
            <table>
                <tr>
                    <td>Distance:</td>
                    <td data-bind="numericText: Analysis().Distance/1000, precision: 1, units:'km'" />
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td data-bind="timeSpanText: Analysis().Duration" />
                </tr>
                <tr>
                    <td>Energy:</td>
                    <td data-bind="numericText: Analysis().Energy/1000, precision: 0, units:'kJ'" />
                </tr>
                <tr>
                    <td>Wind energy:</td>
                    <td data-bind="numericText: Analysis().WindEnergy / 1000, precision: 0, units: 'kJ'" />
                </tr>
                <tr>
                    <td>Wind climb equivalent:</td>
                    <td data-bind="numericText: Analysis().WindClimbEquivalent, precision: 0, units: 'm'" />
                </tr>
            </table>
        </div>
        <div class="pure-u-1-2">
            <div data-bind="rideProfileChart: Analysis()" style="height:400px;width:600px;"></div>
        </div>
    </div>
</div>