@{
    ViewBag.Title = "Index";
}

 <div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>The Wind is my <strong>Enemy</strong>.</h1>
        <p>It's yours too. Upload a GPX of your blustery ride to find out how solid you are.</p>
        <p><a href="#" class="btn btn-primary btn-lg" role="button">Upload &raquo;</a></p>
    </div>
 </div>