@{
    ViewBag.Title = "twime";
}

 <div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>"The Wind is my <strong>Enemy.</strong>"</h1>
        <p>You would have gone <i>so</i> much faster without that stupid wind.</p>
        <p>Upload a GPX of your blustery ride to salve your damaged ego.</p>
        <div>
           @Html.Partial("_Upload")
        </div>
    </div>
    <div id="rides">
        <script>
            $.ajax({
                url: "/Home/AllRides",
                success: function (html) {
                    $('#rides').html(html);
                }
            });

        </script>
    </div>
    <div id="analysis" />
 </div>